<!DOCTYPE html>
<html lang="zh">

<head>
    <title>天气查询</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="/public/css/weather.css" rel="stylesheet">
</head>

<body>
    <div class="view">
        <!-- 顶部 -->
        <div class="nar_top">
            <span class="nar_left"><</span>
            <span class="nar_right">></span>
        </div>
        <!--地区  -->
        <div class="place_now">
            <div class="idress">
                <span></span>
            </div>
            <div class="wn">
                <img src="/public/images/5316b6d53ff15.png" alt="">
            </div>
            <div class="wy">
                <span></span>
            </div>
            <div class="wendu">
                <span></span>
            </div>
            <div class="airzhiliang">
                <ul>
                    <li class="kzl">空气质量</li>
                    <li class="wuran"></li>
                    <li class="weif"><span></span></li>
                </ul>
            </div>
        </div>
        <!--天气详情  -->
        <div class="weather_footer">
            <ul>
                <!-- <li><img src="/public/images/clould.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li> -->

            </ul>
        </div>
    </div>


    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/weather/index.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=r4duDRMV6kcqbVKWEGSMtddBQD6d6p0t"></script>
</body>

</html>