<!DOCTYPE html>
<html lang="zh">

<head>
    <title>天气查询</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="./../../public/css/weather.css" rel="stylesheet">
</head>

<body>
    <div class="view">
        <!-- 顶部 -->
        <div class="nar_top">
            <span class="nar_left"><</span>
            <span class="nar_right">></span>
        </div>
        <!--地区  -->
        <div class="place_now">
            <div class="idress">
                <span>成&nbsp;都</span>
            </div>
            <div class="wn">
                <img src="../../images/5316b6d53ff15.png" alt="">
            </div>
            <div class="wy">
                <span> 多&nbsp;云</span>
            </div>
            <div class="wendu">
                <span>16°/20°</span>
            </div>
            <div class="airzhiliang">
                <ul>
                    <li class="kzl">空气质量</li>
                    <li class="wuran">重度污染</li>
                    <li class="weif"><span>6.2mph北风微风</span></li>
                </ul>
            </div>
        </div>
        <!--天气详情  -->
        <div class="weather_footer">
            <ul>
                <li><img src="../../images/clould.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li>
                <li><img src="../../images/cr.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li>
                <li><img src="../../images/crs.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li>
                <li><img src="../../images/cs.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li>
                <li><img src="../../images/sun.png" alt="">
                    <div class="duchange">
                        <span>18°</span>
                        <div class="line"></div>
                        <span>23°</span>
                        <span>tues</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>